# Python
__pycache__/
*.py[cod]
*.egg-info/
*.log

# Virtual Environment
venv/
ENV/
env/
.venv/

# Django stuff
db.sqlite3
*.sqlite3
media/
staticfiles/

# Environment
.env
.env.*

# VS Code
.vscode/

# Migrations (Optional)
**/migrations/*.py
!**/migrations/__init__.py
